# menghilangkan ektensi file di url
<IfModule mod_rewrite.c>
    RewriteEngine On 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php
</IfModule>

# menyembuniykan list file/direktori
Options -Indexes

# menyembunyikan signature/tanda server
ServerSignature Off

# Rewrite URL
