# menghilangkan ektensi file di url
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# menyembuniykan list file/direktori
Options -Indexes

# menyembunyikan signature/tanda server
ServerSignature Off

# Rewrite URL
