/* index.php */
.container .row .col-lg-6 h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

footer {
    margin-top: 100vw;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}